@use '~@pepperi-addons/ngx-lib/src/core/style/abstracts/variables';
@use '~@pepperi-addons/ngx-lib/src/core/style/abstracts/mixins';
@use '~@pepperi-addons/ngx-lib/src/core/style/abstracts/functions';

::ng-deep {
    .mat-pseudo-checkbox-checked, 
    .mat-pseudo-checkbox-indeterminate {
        background: unset !important;
    }

    // .mat-option.mat-active:not(:hover) {
    //     background: unset !important;
    // }

    .mat-select-panel {
        .mat-option {
            background: functions.get-pep-color(color-system-primary-invert, color-base) !important;

            //&.mat-active,
            &:hover {
                @include mixins.state-weak-hover();
            }
            &:active {
                @include mixins.state-weak-active(color-weak, false);
                background: functions.get-pep-color(color-weak, color-tran-50) !important;
            }
            &:disabled {
                @include mixins.state-weak-disable();
            }
        }
        .mat-option.mat-selected {
            @include mixins.state-weak-default();
            // box-shadow: functions.get-pep-shadow(shadow-xs, soft);

            //&.mat-active,
            &:hover {
                @include mixins.state-weak-hover();
            }
            &:active {
                @include mixins.state-weak-active(color-weak, false);
                background: functions.get-pep-color(color-weak, color-tran-50) !important;
            }
            &:disabled {
                @include mixins.state-weak-disable();
            }
        }

        .mat-pseudo-checkbox {
            @include mixins.state-regular-default(true);

            &:hover {
                @include mixins.state-regular-hover(true);
            }
            &:active {
                @include mixins.state-regular-active(true);
            }
            &:disabled {
                @include mixins.state-regular-disable(true);
            }
        }

        .mat-pseudo-checkbox.mat-pseudo-checkbox-checked,
        .mat-pseudo-checkbox.mat-pseudo-checkbox-indeterminate {
            @include mixins.state-regular-default(true);
            @include mixins.inline(functions.get-pep-color(color-system-primary, color-flat-r-10), 1px, solid, true);

            &:hover {
                @include mixins.state-regular-hover(true);
            }
            &:active {
                @include mixins.state-regular-active(true);
            }
            &:disabled {
                @include mixins.state-regular-disable(true);
            }
        }

        .mat-pseudo-checkbox::after {
            color: functions.get-pep-color(color-text, color-main) !important;
        }
    }
}

.search-order-number {
    height: 100%;
    display: flex;
    align-items: center;
}

.order-history-main-area {
    height: 100%;
    display: grid;
    grid-template-rows: auto 1fr;

    .order-history-main-details {
        height: auto;
        padding: 0.5rem 0;
        margin-bottom: 0.25rem;
        // @include mixins.pep-border(border-left, solid, true);
        // @include mixins.pep-border(border-right, solid, true);
        @include mixins.pep-border(border-bottom, solid, true);

        background: functions.get-pep-color(color-system-primary-invert, color-base);
        box-shadow: functions.get-pep-shadow(shadow-sm, regular);
    }

    p {
        padding: 0;
        margin: 0;
    }

    .mat-tab-group {
        
        height: 100%;
        display: grid;
        grid-auto-rows: auto 1fr;
        overflow: auto;

        ::ng-deep.mat-tab-body-content {
            padding: 0 !important;
            margin: 0 !important;
            overflow: unset;// !important;
        }
    }

    // ------------------------------------------
    // General (all tabs)
    // ------------------------------------------
    .sql-header,
    .kibana-header,
    .cloud-header,
    .ipass-header,
    .device-details-header,
    .json-put-header {
        margin-bottom: 1rem;
    }

    .cloud-header {
        display: flex;
        gap: 1rem;
        align-items: flex-start;

        pep-select {
            width: 300px;
        }

        pep-button {
            margin-top: variables.$form-field-title-height;
        }
    }

    .sql-content {
        margin-top: -1rem;

        ::ng-deep.mat-expansion-panel-body {
            padding-top: 0 !important;
        }
    }

    // ------------------------------------------
    // SQL tab
    // ------------------------------------------
    .order-items-content,
    .operations-content {
        ::ng-deep.virtual-scroller {
            height: 8rem;
        }
    }

    // ------------------------------------------
    // Kibana tab
    // ------------------------------------------
    .kibana-content {
        height: 100%;
        display: grid;

        .kibana-component {
            width: 100%;
        }
    }

    // ------------------------------------------
    // Cloud tab
    // ------------------------------------------
    .cloud-content {
        display: grid;

        .cloud-sub-title {
            margin-bottom: 1rem;
        }

        .cloud-component {
            width: 100%;
        }
    }

    // ------------------------------------------
    // IPass tab
    // ------------------------------------------
    .ipass-content {
        display: grid;

        .ipass-sub-title {
            margin-bottom: 1rem;
        }

        .ipass-component {
            width: 100%;
        }
    }

    // ------------------------------------------
    // Device details tab
    // ------------------------------------------
    .device-details-content {
        display: grid;
        
        .device-details-sub-title {
            margin-bottom: 1rem;
        }

        .device-details-component {
            width: 100%;
        }
    }

    // ------------------------------------------
    // JSON put tab
    // ------------------------------------------
    .json-put-content {
        display: grid;

        .json-put-sub-title {
            margin-bottom: 1rem;
        }

        .json-put-component {
            width: 100%;
        }
    }
}
