<pep-page-layout [addPadding]="false">
    <ng-container pep-top-area>
        <pep-top-bar title="Order history for">
            <ng-container header-start-content>
                <!-- Add components you want after the title -->
                <pep-search class="search-order-number" sizeType="sm" [value]="orderNumber" (search)="onSearchChanged($event)"></pep-search>
            </ng-container>
            <div header-end-content>
                <!-- Add components you want at the right side -->
                
            </div>
        </pep-top-bar>
    </ng-container>

    <ng-container pep-main-area>
        <div class="order-history-main-area">
            <div  *ngIf="headerDataLoaded" class="order-history-main-details">
                <pep-form layoutType="card" [layout]="headerUiControl" [data]="headerData">
                </pep-form>
            </div>
            <mat-tab-group *ngIf="tabSqlLoaded" (selectedTabChange)="tabClick($event)">
                <mat-tab>
                    <ng-template mat-tab-label>
                        <span class="body-md">{{ 'SQL' | translate }}</span>
                    </ng-template>
                    <div class="sql-header">
                    </div>
                    <div class="sql-content">
                        <mat-accordion [displayMode]="'flat'" [multi]="true" class="pep-accordion">
                            <mat-expansion-panel [expanded]="true">
                                <mat-expansion-panel-header [collapsedHeight]="expansionPanelHeaderHeight" [expandedHeight]="expansionPanelHeaderHeight">
                                    <mat-panel-title class="ellipsis body-md">
                                        {{ 'ATD' | translate }}
                                    </mat-panel-title>
                                </mat-expansion-panel-header>
                               
                                <pep-generic-list [dataSource]="atdListDataSource" [selectionType]="'none'" [inline]="true"></pep-generic-list>
                            </mat-expansion-panel>
                            <!-- <mat-expansion-panel>
                                <mat-expansion-panel-header [collapsedHeight]="expansionPanelHeaderHeight" [expandedHeight]="expansionPanelHeaderHeight">
                                    <mat-panel-title class="ellipsis body-md">
                                        {{ 'Order' | translate }}
                                    </mat-panel-title>
                                </mat-expansion-panel-header>
                                <div class="expansion-content order-content">
                                    <pep-generic-list [dataSource]="orderListDataSource" [selectionType]="'none'" [inline]="true"></pep-generic-list>
                                </div>
                            </mat-expansion-panel> -->
                            <mat-expansion-panel>
                                <mat-expansion-panel-header [collapsedHeight]="expansionPanelHeaderHeight" [expandedHeight]="expansionPanelHeaderHeight">
                                    <mat-panel-title class="ellipsis body-md">
                                        {{ 'Order_Items' | translate }}
                                    </mat-panel-title>
                                </mat-expansion-panel-header>
                                <div class="expansion-content order-items-content">
                                    <pep-generic-list [dataSource]="orderItemsListDataSource" [selectionType]="'none'" [inline]="true"></pep-generic-list>
                                </div>
                            </mat-expansion-panel>
                            <mat-expansion-panel>
                                <mat-expansion-panel-header [collapsedHeight]="expansionPanelHeaderHeight" [expandedHeight]="expansionPanelHeaderHeight">
                                    <mat-panel-title class="ellipsis body-md">
                                        {{ 'Operations' | translate }}
                                    </mat-panel-title>
                                </mat-expansion-panel-header>
                                <div class="expansion-content operations-content">
                                    <pep-generic-list [dataSource]="operationsListDataSource" [selectionType]="'none'" [inline]="true"></pep-generic-list>
                                </div>
                            </mat-expansion-panel>
                        </mat-accordion>
                    </div>
                </mat-tab>

                <mat-tab>
                    <ng-template mat-tab-label>
                        <span class="body-md">
                            {{ 'Kibana' | translate }}
                        </span>
                    </ng-template>
                    <!-- <div class="kibana-header">
                        <div class="kibana-sub-title">
                            <p class="body-md" [innerHTML]="'Kibana_SubTitle' | translate"></p>
                        </div>
                    </div> -->
                    <div *ngIf="tabKibanaLoaded && currentTabIndex === 1" class="kibana-content">
                        <div class="kibana-component">
                            <pep-generic-list style="height: 100%;" [dataSource]="kibanaListDataSource" [selectionType]="'none'" [inline]="true"></pep-generic-list>
                        </div>
                    </div>
                </mat-tab>

                <mat-tab>
                    <ng-template mat-tab-label>
                        <span class="body-md">
                            {{ 'Cloud' | translate }}
                        </span>
                    </ng-template>
                    <div *ngIf="tabKibanaLoaded && currentTabIndex === 2" class="cloud-header">
                        <pep-select mandatory="true" label="Actions uuids" type="multi" [value]="actionsUuidsValue"
                            [options]="actionsUuidsOptions"
                            (valueChange)="onActionsUuidsChanged($event)">
                        </pep-select>
                        <pep-select label="Levels" type="multi" [value]="levelsValue"
                            [options]="levelsOptions"
                            (valueChange)="onLevelsValueChanged($event)">
                        </pep-select>
                        <pep-button value="load data" styleType="strong" [disabled]="actionsUuidsValue.length === 0" (buttonClick)="onLoadCloudDataClicked($event)"></pep-button>
                    </div>
                    <div *ngIf="tabCloudLoaded" class="cloud-content">
                        <div class="cloud-component">
                            <pep-generic-list [dataSource]="cloudListDataSource" [selectionType]="'none'" [inline]="true"></pep-generic-list>
                        </div>
                    </div>
                </mat-tab>

                <mat-tab>
                    <ng-template mat-tab-label>
                        <span class="body-md">
                            {{ 'IPass' | translate }}
                        </span>
                    </ng-template>
                    <div class="ipass-header">
                        <!-- <div class="ipass-sub-title">
                            <p class="body-md" [innerHTML]="'IPass_SubTitle' | translate"></p>
                        </div> -->
                    </div>
                    <div class="ipass-content">
                        TODO:
                    </div>
                </mat-tab>

                <mat-tab>
                    <ng-template mat-tab-label>
                        <span class="body-md">
                            {{ 'DeviceDetails' | translate }}
                        </span>
                    </ng-template>
                    <div class="device-details-header">
                        <!-- <div class="device-details-sub-title">
                            <p class="body-md" [innerHTML]="'DeviceDetails_SubTitle' | translate"></p>
                        </div> -->
                    </div>
                    <div class="device-details-content">
                        TODO:
                    </div>
                </mat-tab>

                <mat-tab>
                    <ng-template mat-tab-label>
                        <span class="body-md">
                            {{ 'JsonPut' | translate }}
                        </span>
                    </ng-template>
                    <div class="json-put-header">
                        <!-- <div class="json-put-sub-title">
                            <p class="body-md" [innerHTML]="'JsonPut_SubTitle' | translate"></p>
                        </div> -->
                    </div>
                    <div class="json-put-content">
                        TODO:
                    </div>
                </mat-tab>
            </mat-tab-group>
        </div>
    </ng-container>
</pep-page-layout>

<pep-size-detector></pep-size-detector>
<!-- <pep-generic-list title="You can create and edit this list here" [dataSource]="listDataSource"
    [actions]="actions" [showTopBar]="true" [selectionType]="'multi'" [inline]="true">
</pep-generic-list> -->